name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - main
jobs:
  deploy:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Deploy
        id: deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN_WITTY_FLOWER_065FF7A03 }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: 'upload'
          app_location: '/'
          api_location: 'api'
          output_location: 'dist'
        env:
          VITE_API_AAD_APP_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          VITE_API_AAD_APP_TENANT_ID: ${{ secrets.TENANT_ID }}
          VITE_API_AAD_APP_REDIRECT_URI: "https://www.skran.app"
          VITE_API_AAD_APP_FUNCTION_SCOPE_URI: ${{ secrets.FUNCTION_SCOPE_URI }}
