name: Skran App CI/CD
on:
  push:
    branches:
      - main
jobs:
  populate-env:
    runs-on: ubuntu-latest
    name: Azure Configuration
    steps:
      - uses: actions/checkout@v3
      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Checkout
        uses: actions/checkout@v1
      - name: Azure ARM resource deployment
        uses: azure/arm-deploy@v1
        with:
          subscriptionId: ${{ secrets.SUBSCRIPTION_ID }}
          resourceGroupName: ${{ secrets.RESOURCE_GROUP }}
          template: azuredeploy.json
          parameters: azuredeploy.parameters.json SUBSCRIPTION_ID=${{ secrets.SUBSCRIPTION_ID }} RESOURCE_GROUP=${{ secrets.RESOURCE_GROUP }} staticSites_skran_app_name=${{ secrets.STATICSITES_SKRAN_APP_NAME }} INSTRUMENTATION_KEY=${{ secrets.INSTRUMENTATION_KEY }} MONGODB_URL=${{ secrets.MONGODB_URL }} CLIENT_SECRET=${{ secrets.CLIENT_SECRET }} APPLICATIONINSIGHTS_CONNECTION_STRING=${{ secrets.APPLICATIONINSIGHTS_CONNECTION_STRING }} DOMAIN_NAME=${{ secrets.DOMAIN_NAME }}
  unit-tests:
    runs-on: ubuntu-latest
    name: Unit & Integration Tests
    services:
      mongodb:
        image: mongo:latest
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
          MONGO_INITDB_DATABASE: test
        ports:
          - 27017:27017
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: 'npm'
      - name: Install dependencies and run tests
        run: npm install && cd api && npm install && cd - && npm run verification --if-present
        env:
          MONGODB_URL: "mongodb://root:example@localhost:27017/"
  deploy:
    needs: [unit-tests,populate-env]
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.action != 'closed')
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Deploy
        id: deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.APP_DEPLOYMENT_TOKEN }}
          repo_token: ${{ secrets.GITHUB_TOKEN }} # Used for Github integrations (i.e. PR comments)
          action: 'upload'
          app_location: '/'
          api_build_command: 'npm run build'
          api_location: 'api'
          output_location: 'build'
        env:
          VITE_API_AAD_APP_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          VITE_API_AAD_APP_TENANT_ID: ${{ secrets.TENANT_ID }}
          VITE_API_AAD_APP_REDIRECT_URI: 'https://www.skran.app'
          VITE_API_AAD_APP_FUNCTION_SCOPE_URI: ${{ secrets.FUNCTION_SCOPE_URI }}
  e2e-tests:
    needs: [unit-tests, deploy]
    runs-on: ubuntu-latest # or macos-latest, windows-latest
    name: Run E2E Tests
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies and run tests
        run: npm install && npx playwright install-deps && npx playwright install && npm run playwright:run
        env:
          VITE_API_AAD_APP_REDIRECT_URI: 'https://www.skran.app'
  close_pull_request_job:
    needs: e2e-tests
    if: github.event_name == 'pull_request' && github.event.action == 'closed'
    runs-on: ubuntu-latest
    name: Close Pull Request Job
    steps:
      - name: Close Pull Request
        id: closepullrequest
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_STATIC_WEB_APPS_API_TOKEN }}
          action: "close"